@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Syne',sans-serif;
}

body{
  background:#f8f8f8;
  overflow-x:hidden;
}